.root {
  display: flex;
  background-image: linear-gradient(
    -60deg,
    var(--mantine-color-blue-4) 0%,
    var(--mantine-color-blue-7) 100%
  );
  padding: calc(var(--mantine-spacing-xl) * 1.5);
  border-radius: var(--mantine-radius-md);
}

.title {
  color: var(--mantine-color-white);
  text-transform: uppercase;
  font-weight: 700;
}

.count {
  color: var(--mantine-color-white);
  font-size: 32px;
  font-weight: 700;
}

.description {
  color: var(--mantine-color-blue-0);
  font-size: var(--mantine-font-size-sm);
}

.stat {
  flex: 1;

  & + & {
    padding-left: var(--mantine-spacing-xl);
    margin-left: var(--mantine-spacing-xl);
    border-left: 1px solid var(--mantine-color-blue-3);
  }
}
