.card {
  height: 100%;
  min-height: 20rem;
}

:where([data-mantine-color-scheme='light']) .card {
  background-color: var(--mantine-color-gray-0);
}

:where([data-mantine-color-scheme='light']) .bookAuthor {
  color: var(--mantine-color-gray-7);
}

:where([data-mantine-color-scheme='dark']) .bookAuthor {
  color: var(--mantine-color-dark-1);
}

.bookTitle {
  font-size: var(--mantine-font-size-md);
}

.bookTitle,
.bookAuthor {
  text-align: center;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
}

.ratingSection {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: $mantine-breakpoint-xxs) {
  .bookTitle,
  .bookAuthor {
    text-align: start;
  }

  .ratingSection {
    justify-content: left;
  }
}
