.wrapper {
  height: 100%;
  color: light-dark(var(--mantine-color-logo-theme-7), var(--mantine-color-logo-theme-0));

  img {
    height: 100%;
    width: auto;
  }

  svg {
    height: 70%;
    width: auto;
  }
}

figure {
  margin: 0;
  padding: 0;
}
