.container {
  padding: 2rem;
  background-color: #f8f9fa;
  margin-top: rem(86px);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #343a40;
  text-align: center;
}

.text {
  font-size: 1.25rem;
  color: #6c757d;
  text-align: center;
}

.group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
}

.statsContainer {
  margin-top: 2rem;
}
