.avatar {
  margin: 20px auto;
  color: var(--mantine-color-dark-6);
  transition: transform 0.2s ease;
}

.avatar:hover {
  transform: scale(1.05);
}

.userName {
  margin-top: 15px;
  font-size: 1.25rem;
  font-weight: 600;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.saveButton,
.editButton {
  margin-top: 20px;
}
